.contact__form {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
  background: $color-gold;

  &--label {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
  }

  &--input {
    appearance: none;
    border: 1px solid $color-darkblue;
    padding: 0.5rem 0 0.5rem 0.5rem;
    margin-top: 0.5rem;
  }
}

.cta {
  display: inline-block;
  border: 1px solid transparent;
  background: $color-darkblue;
  color: $color-white;
  text-transform: uppercase;
  font-family: $font-menu;
  padding: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: background ease-in-out 250ms;


  &:hover {
    color: $color-darkblue;
    background: $color-white;
    transition: background ease-in-out 250ms;
    border: 1px solid $color-darkblue;
  }
}