.skip-links {
  background-color: $color-white;
  color: $color-darkblue;
  padding: 0.5rem;
  left: 0;
  top: 0;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;

  &:focus {
    transform: translateY(0);
    z-index: 99;
  }
}
