// media query

$xm: 37.5em;

@mixin xm {
  @media screen and(min-width: $xm) {
    @content;
  }
}

$xl: 52.5em;

@mixin xl {
  @media screen and(min-width: $xl) {
    @content;
  }
}

$xxl: 56.25em;

@mixin xxl {
  @media screen and(min-width: $xxl) {
    @content;
  }
}

$bp-max: 1600px;

@mixin bp-max {
  @media screen and(min-width: $bp-max) {
    @content;
  }
}
