//colors

$color-gold: #ad9d7e; /* logo */

$color-darkblue: #0b1734; /*header, footer, timeline, buttons */

$color-black: #000000;
$color-white: #ffffff;

/* dark mode colors*/
$color-verydark-grey: #2e2f33;
$color-darker-white: #e0e0e0;
$color-very-darkblue: #0c0d13;

/*form validation */
$color-darkred: #be5944;

// font size

$font-size: 1rem;

// font-families

$font-body: 'Open Sans', sans-serif;
$font-menu: 'EB Garamond', serif;
$font-first-letter: 'Pinyon Script', cursive;
