.intro {
  padding: 3rem 0;
}

.intro__container {
  width: 90%;
  max-width: 75rem;
  margin: 0 auto;
  text-align: center;
}

.intro__headline {
  font-family: 'EB Garamond', serif;
  text-transform: uppercase;
  font-weight: normal;
}

.timeline {
  padding-bottom: 3rem;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 0.37rem;
  margin: 0 auto;
  padding-top: 3rem;
  background: var(--darkblue);
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 1.9rem;
  height: 1.9rem;
  border-radius: 50%;
  background: inherit;
  z-index: 1;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 25rem;
  padding: 1rem;
  background: var(--white);
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 0.4rem;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 2.8rem;
}

.timeline ul li:nth-child(odd) div::before {
  left: -1rem;
  border-width: 0.5rem 1rem 0.5rem 0;
  border-color: transparent var(--gold) transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -29.3rem;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 0.5rem 0 0.5rem 1rem;
  border-color: transparent transparent transparent var(--gold);
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: var(--gold);
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(12.5rem, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-12.5rem, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--darkblue) transparent transparent;
  }
}

@keyframes scaleAnimation {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.25);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}
