.introduction {
  &__container {
    width: 90%;
    max-width: 75rem;
    margin: 0 auto;
    text-align: center;
  }

  &__history {
    text-align: left;
    margin-bottom: 3rem;

    &::first-letter {
      font-family: $font-first-letter;
      font-size: 200%;
      line-height: 0;
    }
  }
}

.intro {
  &__container {
    width: 90%;
    max-width: 75rem;
    margin: 0 auto;
    text-align: center;
  }
}

.timeline {
  padding-bottom: 3rem;

  &__item {
    list-style-type: none;
    position: relative;
    width: 0.37rem;
    margin: 0 auto;
    padding-top: 3rem;
    background: $color-darkblue;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      width: 1.9rem;
      height: 1.9rem;
      border-radius: 50%;
      background: inherit;
      z-index: 1;
    }

    &:nth-child(odd) .timeline__text {
      left: 2.8rem;
    }

    &:nth-child(even) .timeline__text {
      left: -27.44rem;
    }

    &:nth-child(odd) .timeline__text::before {
      left: -1rem;
      border-width: 0.5rem 1rem 0.5rem 0;
      border-color: transparent $color-gold transparent transparent;
    }

    &:nth-child(even) .timeline__text::before {
      right: -15px;
      border-width: 0.5rem 0 0.5rem 1rem;
      border-color: transparent transparent transparent $color-gold;
    }

    &::after {
      transition: background 0.5s ease-in-out;
    }

    &.in-view::after {
      background: $color-gold;
    }

    .timeline__text {
      visibility: hidden;
      opacity: 0;
      transition: all 0.5s ease-in-out;
    }

    &:nth-child(odd) .timeline__text {
      transform: translate3d(12.5rem, 0, 0);
    }

    &:nth-child(even) .timeline__text {
      transform: translate3d(-12.5rem, 0, 0);
    }

    &.in-view .timeline__text {
      transform: none;
      visibility: visible;
      opacity: 1;
    }

    @include xxl {
      &:nth-child(even) div {
        left: -289px;
      }
      &:nth-child(even) .timeline__text {
        left: -18rem;
      }
    }
    @include xm {
      margin-left: 20px;
    }
  }

  .timeline__text {
    position: relative;
    bottom: 0;
    width: 25rem;
    padding: 1rem;
    background: $color-white;

    &::before {
      content: '';
      position: absolute;
      bottom: 0.4rem;
      width: 0;
      height: 0;
      border-style: solid;
    }

    @include xxl {
      width: 250px;
    }
    @include xm {
      .timeline__text {
        width: calc(100vw - 91px);
      }
    }
  }
}

@include xm {
  .timeline
    .timeline__list
    .timeline__item:nth-child(even)
    .timeline__text::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent $color-gold transparent transparent;
  }

  .timeline .timeline__list .timeline__item:nth-child(even) .timeline__text {
    left: 45px;
  }
}

.timeline .timeline__list {
  background: $color-white;
  padding: 50px 0;
}

.timeline__year {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.section__all-photos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: $color-gold;
  width: 100%;
}

.section__photo-first {
  margin: 1.1rem auto;
}

.section__photo {
  width: 73%;
  margin-bottom: 1.1rem;
}

@include xl {
  .section__all-photos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: $color-gold;
    width: 100%;
  }

  .section__photo {
    max-width: 30%;
    margin: 1.1rem 0;
  }

  .section__photo-first {
    margin: 0;
    max-width: 33.7%;
  }
}
