.main__headline {
  text-transform: uppercase;
  font-family: $font-menu;
  font-weight: normal;
  padding: 1rem 0;
  font-size: 1.5em;

  &__photo {
    width: 100%;
    height: auto;
  }
}

.header__nav--link-gallery {
  padding: 0;
  padding-left: 5px;
  color: $color-black;
  text-decoration: underline;
}
/* main mobile version */

.main {
  display: flex;
  flex-direction: column;

  &__content {
    padding-bottom: 0.8rem;

    &:first-child {
      &::first-letter {
        font-family: $font-first-letter;
        font-size: 350%;
        line-height: 0;
      }
    }

    &--align {
      text-align: right;
      padding-right: 2rem;
    }
  }

  &__section {
    padding-bottom: 3rem;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.7rem;
    padding-top: 1rem;
    padding-bottom: 0;
  }

  &__photo {
    max-height: 35rem;
    width: 100%;
    object-fit: cover;
  }

  &__welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }

  &__all-photos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin: 1.1rem;
  }

  &__photo-section {
    background-color: $color-gold;
  }

  &__photos-headline {
    text-transform: uppercase;
    font-family: 'EB Garamond', serif;
    font-weight: normal;
    margin-top: 0;
    padding: 1rem;
    background-color: $color-white;
    text-align: center;
  }

  &__photo-ceska {
    width: 18rem;
    height: auto;
    border: 1px solid $color-gold;
    order: 1;
    max-width: 40vh;
    object-fit: cover;
  }

  &__photos {
    display: block;
    transform: scale(1);
    transition: all ease-in-out 500ms;

    &:hover {
      transform: scale(1.2);
      transition: all ease-in-out 500ms;
    }

    &--wrapper {
      display: flex;
      align-items: center;
      flex: 1;
      overflow: hidden;
      padding-bottom: 2rem;
      max-width: 80%;

      @include xl {
        width: 300px;
        height: 300px;
      }
    }
  }

  &__photo-content {
    text-align: center;
    padding-bottom: 0.8rem;
    background-color: $color-white;
  }

  &__video {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 16 / 9;
    max-width: 50rem;
    margin: 3rem auto 0;

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

/* main desktop version */

@include xl {
  .main {
    &__wrapper {
      display: flex;
      flex-direction: row;
      padding-top: 3rem;
    }

    &__photo-ceska {
      max-width: 100%;
      height: auto;
      order: 0;
    }

    &__text {
      padding: 1.5rem;
      padding-top: 0;
      margin-top: 2rem;
    }

    &__all-photos {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      margin: 1.1rem;
    }

    &__photos {
      &--wrapper {
        padding: 0 0.5rem 0 0.5rem;
      }
    }

    &__photos-first {
      margin-top: 0;
    }
  }
}
