.main__headline {
  text-transform: uppercase;
  font-family: 'EB Garamond', serif;
  font-weight: normal;
  padding: 1rem 0;
  font-size: 1.5em;

  &__photo {
    width: 100%;
    height: auto;
  }
}

.header__nav--link-gallery {
  padding: 0;
  padding-left: 5px;
  color: $color-black;
}
/* main mobile version */

.main {
  display: flex;
  flex-direction: column;

  &__content {
    padding-bottom: 0.8rem;

    &:first-child {
      &::first-letter {
        font-family: $font-first-letter;
        font-size: 200%;
      }
    }

    &--align {
      text-align: right;
      padding-right: 2rem;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.7rem;
    padding-top: 1rem;
    padding-bottom: 0;
  }

  &__photo {
    max-height: 70vh;
    object-fit: cover;
  }

  &__welcome,
  &__all-photos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }

  &__photo-section {
    background-color: $color-gold;
  }

  &__photos-headline {
    text-transform: uppercase;
    font-family: 'EB Garamond', serif;
    font-weight: normal;
    margin-top: 0;
    padding: 1rem;
    background-color: $color-white;
    text-align: center;
  }

  &__photo-ceska {
    width: 75%;
    height: auto;
    border: 1px solid $color-gold;
    order: 1;

    max-width: 40vh;
    object-fit: cover;
  }

  &__photos {
    width: 75%;
    height: auto;
    margin-bottom: 1.1rem;
  }

  &__photos-first {
    margin-top: 1.1rem;
  }

  &__photo-content {
    text-align: center;
    padding-bottom: 0.8rem;
    background-color: $color-white;
  }
}

/* main desktop version */

@include xl {
  .main {
    &__wrapper {
      display: flex;
      flex-direction: row;
      padding-top: 3rem;
    }

    &__photo-ceska {
      max-width: 25%;
      height: auto;
      order: 0;
    }

    &__text {
      padding: 1.5rem;
      padding-top: 0;
    }

    &__all-photos {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 1.1rem;
    }

    &__photos {
      max-width: 30%;
      height: auto;
    }

    &__photos-first {
      margin-top: 0;
    }
  }
}
