footer {
  background-color: $color-darkblue;
  color: $color-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include xl {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }
}

.footer-container {
  background-color: $color-darkblue;
  padding: 1.25rem;
}

.footer__details {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include xl {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, auto);
    grid-row: 1 / 3;
  }
}

.footer__copyrights {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  display: block;
  width: min(35vw, 6.5rem);
  margin-bottom: 1.1rem;

  @include xl {
    grid-row: 1 / 3;
    margin-right: 1.1rem;
  }
}

.footer__address {
  text-align: center;
  padding-bottom: 1rem;

  @include xl {
    text-align: left;
  }
}
/* contacts */

.footer__contacts {
  padding: 1.5rem 0;

  @include xl {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 0;
  }

  &--email {
    display: flex;
    align-items: center;
  }

  &--phone {
    display: flex;
    align-items: center;
  }
}

.footer__icon {
  width: 1.2rem;
  margin-right: 0.5rem;
}

.footer__link--phone,
.footer__link--email {
  border-bottom: 1px solid transparent;
  transition: all ease-in-out 250ms;
  color: $color-white;

  &:hover {
    border-bottom: 1px solid $color-white;
    transition: all ease-in-out 250ms;
  }
}

/*  navigation */

.footer__nav {
  text-align: center;

  @include xl {
    align-self: start;
    padding: 1.5rem 1rem;
  }
}

.footer__list {
  @include xl {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.footer__item {
  margin-bottom: 1rem;

  @include xl {
    margin-bottom: 0;
    margin-left: 1rem;
  }
}

.footer__link {
  position: relative;
  color: $color-white;

  &::after {
    content: '';
    position: absolute;
    top: 25px;
    left: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    background-color: $color-white;
    transition: all ease-in-out 250ms;
  }

  &:hover::after {
    transform: scaleX(1);
  }
}

/* copyrights */

.footer__copyrights {
  max-width: 40ch;
  text-align: center;
  font-size: 0.6rem;

  @include xl {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 2 / 3;
    place-self: end;
    max-width: 70ch;
    text-align: left;
  }

  &--link {
    text-align: center;
    font-size: 0.6rem;
    padding-top: 0.5rem;
    color: $color-white;

    @include xl {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
      text-align: left;
      align-self: end;
    }
  }

  &--text {
    @include xl {
      grid-column: 3 / 5;
      margin: 0;
    }
  }
}
