.contact {
  padding: 1rem 0;

  &--form {
    margin-bottom: 3rem;

    @include xl {
      margin-bottom: 0;
      grid-row: 1 / 3;
      place-self: end;
    }
  }

  &--left-bottom {
    @include xl {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      margin-right: 1rem;
      padding-left: 1rem;
    }
  }

  &--left-top {
    @include xl {
      margin-right: 1rem;
      padding-left: 1rem;
    }
  }
}

.contact__text {
  font-weight: 700;
  padding-bottom: 0.5rem;
}

.contact__details {
  display: flex;
  flex-direction: column;
  padding: 0.8rem 0;
}

.contact__link {
  color: $color-black;
  padding: 0.2rem 0;

  &:hover {
    text-decoration: underline;
  }
}

.contact__hours {
  padding-top: 0.5rem;

  &--text {
    padding: 0.2rem 0;
  }
}

.marker__btn {
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  outline: none;
  cursor: pointer;

  &--icon {
    width: 3rem;
  }
}

