.dark-mode {
  background-color: $color-darker-blue;
  color: $color-darker-white;

  a {
    color: $color-darker-white;
  }

  h1,
  .header__hamburger-text,
  .cta,
  .footer__address,
  .footer__nav,
  .footer__copyright--text,
  .footer__copyright--link,
  .message__box  {
    color: $color-darker-white;
  }

  .header__hamburger--btn span,
  .header__details::after,
  .header__details::before {
    background-color: $color-darker-white;
  }

  header,
  footer,
  .footer-container,
  .header__hamburger--items,
  .timeline__item,
  .message__box {
    background-color: $color-darker-blue;
  }

  .cta:hover {
    background-color: $color-darker-blue;
    color: $color-darker-white;
  }

  .header__nav--link:hover {
    background-color: $color-darker-blue;
    color: $color-darker-white;
  }

  .about-castle-container,
  .gallery-container,
  .header__nav,
  .main__wrapper,
  .main__photos-headline,
  .main__photo-content,
  .main__photo-section,
  .main__section,
  .timeline .timeline__list,
  .timeline .timeline__text,
  .contact-container,
  .section__all-photos,
  .cta {
    background-color: $color-dark-grey;
  }

  .skip-links,
  .contact__form--label,
  .contact__form--input {
    color: $color-darker-blue;
  }
}
